# JWT Secret key for signing tokens
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
# OAuth credentials for Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ACCESS_TOKEN_URL=
GOOGLE_AUTHORIZE_URL=
GOOGLE_API_BASE_URL=
# API keys
API_KEY_DAILY_QUOTA=